{% extends "base.html" %}
{% block title %}Правка :: {{ complaint.name }} :: {{ complaint.group.name }}{% endblock %}
{% block main %}
{% load widget_tweaks %}
<div class="jumbotron">
    <div class="container">
        <h2 class="display-5">Правка :: {{ complaint.name }} :: {{ complaint.group.name }}</h2>
    </div>
</div>
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="message-list">
{% for message in messages %}
<li class="{{ message.tags }}">{{ message }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div>{{ form.name.label }}</div>
            <div>{% render_field form.name class="form-control" %}</div>
            <small  class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.fio.label }}</div>
            <div>{% render_field form.fio class="form-control" %}</div>
            <small  class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.address.label }}</div>
            <div>{% render_field form.address class="form-control" %}</div>
            <small  class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.classifier_og.label }}</div>
            <div>{% render_field form.classifier_og class="form-control" %}</div>
            <small class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.theme_issues.label }}</div>
            <div>{% render_field form.theme_issues class="form-control" %}</div>
        </div>
        <div class="form-group">
            <div>{{ form.description.label }}</div>
            <div>{% render_field form.description class="form-control" %}</div>
            <small class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.file_complaint.label }}</div>
            <div>{% render_field form.file_complaint class="form-control" %}</div>
            <small class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.admissions.label }}</div>
            <div>{% render_field form.admissions class="form-control" %}</div>
            <small class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.in_stock.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% render_field form.in_stock class="form-control" %}</div>
            <small class="form-text text-muted">Какой то мелкий текст</small>
        </div>
        <div class="form-group">
            <div>{{ form.group.label }}</div>
            <div>{% render_field form.group class="form-control" %}</div>
        </div>
        <div class="form-group">
            <div>{{ form.res_date.label }}</div>
            <div>{% render_field form.res_date  type="date" class="form-control" %}</div>
        </div>
        <div class="form-group">
            <div>{{ form.file_answer.label }}</div>
            <div>{% render_field form.file_answer class="form-control" %}</div>
        </div>
         <div class="form-group">
            <div>{{ form.collective_appeal.label }}</div>
            <div>{% render_field form.collective_appeal class="form-control" %}</div>
        </div>
         <div class="form-group">
            <div>{{ form.repeated_appeal.label }}</div>
            <div>{% render_field form.repeated_appeal class="form-control" %}</div>
        </div>
        <div class="form-group">
            <div>{{ form.control_appeal.label }}</div>
            <div>{% render_field form.control_appeal class="form-control" %}</div>
        </div>
        <div class="form-group">
            <div>{{ form.appeal_is_considered.label }}</div>
            <div>{% render_field form.appeal_is_considered class="form-control" %}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
        <div class="form-group">
            <a class="btn btn-primary" href="{% url 'index' group_id=complaint.group.id %}?page={{ pn }}">Назад</a>
        </div>
{% endblock %}